@model IEnumerable<ShopNShop.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; // Admin layout
}

<h2>Product list  <a asp-action="Create"><i class="bi bi-plus-circle"></i></a></h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class="image-url-column" max-width: 50px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square" style="font-size:18px;" ></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-square" style="font-size:18px;"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash-fill" style="font-size:18px;color:red;"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
